body, html {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-rows: 500px;
    grid-gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
    overflow: auto;
    /* height: 100vh; */
    max-height: 600px;
  }
.grid-container > div {
    /* background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.aboutbg {
    background-image: url("https://images.unsplash.com/photo-1490598000245-075175152d25?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.decadebg {
    background-image: url("https://images.unsplash.com/photo-1517141772911-756dc840a94f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3288&q=80");
    height: 100vh;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.randombg {
    background-image: url("https://images.unsplash.com/photo-1477677214052-b44062125f09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2044&q=80");
    height: 100vh;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginbg {
    background-image: url("https://images.unsplash.com/photo-1515022817163-08c759ea4512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2286&q=80");
    height: 100vh;
    /* width: 95vh; */
    background-position: 0% 5%;
    background-repeat: no-repeat;
    background-size: cover;
}

.registerbg {
    background-image: url("https://images.unsplash.com/photo-1464377923503-30662ced60b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    height: 100vh;
    /* width: 95vh; */
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.paddingbg {
    padding: 100px 0px 0px 50px;
}

div {
    display: block;
}

.header-size

.opacity-extra-medium {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: rgba(255,255,255, 0) */
    top: 0;
    left: 0;
}

/* .bg-black {
    background-color: #000;
} */

.form-box {
    background-color: white;
    width: 450px;
    height: auto;
    /* border: 15px solid green; */
    padding: 20px;
    margin: 10px;
    background: rgba(255,255,255, 0.9)
}


.result-box {
    background-color: white;
    width: 1200px;
    height: auto;
    /* border: 15px solid green; */
    padding: 20px;
    margin: 10px;
    background: rgba(255,255,255, 0.7)
}
.result-box-wide {
    background-color: white;
    width: 900px;
    height: auto;
    /* border: 15px solid green; */
    padding: 20px;
    margin: 10px;
    background: rgba(255,255,255, 0.7)
}

.header-box {
    background-color: white;
    width: 1200px;
    height: auto;
    /* border: 15px solid green; */
    padding: 20px;
    margin: 10px;
    background: rgba(255,255,255, 0.5)
}

.food-pic {
    width: 250px;
    /* height: 300px; */
    opacity: 0.9;
    max-height: 350px
}

.food-pic-results {
    /* height: 300px; */
    opacity: 0.9;
    /* max-width:100%;
    max-height:100%; */
    width: 150px;
    height: 150px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
}

.wide-button {
    width: 99%;
    height: 50px;
    position: relative;
    /* background-color: white; */
    /* border: 1px solid #e6e6e6; */
}

.center {
    /* width: 90%; */
    /* height: 400px;    */
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

input {
    border: 0px solid;
    width: 160px;
    padding: 10px;
    /* background-color: transparent; */
    /* height: 30px; */
    /* color: #CCC; */
}

.inputbg {
    display: block;
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
  }


p span {
    display: block;
}



.btn-lg  {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    height: auto;
    width:200px;   
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.center {
    text-align: center
}

/* .wrap-input100.rs1 {
    border-top: none;
}

    
.focus-input100-1, 
.focus-input100-2 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
} 




/*
.validate-input {
    position: relative;
  } */
  



/* h1.opacity-none {
    opacity: 1 !important;
    background-color: None !important;
} */

/* hr {
	color: red; 
	background: red; 
	border: 0; 
	height: 1px; 
	margin: 1em 0 2em;
} 